### lec016

In [14]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [15]:
my_ser = Series([1,2,3,4], index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [16]:
my_index = my_ser.index

In [17]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
my_index[0]

'A'

In [19]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [20]:
my_index[0] = 'Z'

TypeError: Index does not support mutable operations

### lec017

In [21]:
from numpy.random import randn

In [22]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [23]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [24]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [25]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [26]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [27]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

In [28]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [29]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [30]:
dframe = DataFrame(randn(25).reshape((5,5)), 
                   index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

In [31]:
dframe

       col1      col2      col3      col4      col5
A  0.223140  0.031726 -0.711323 -0.659785 -1.789697
B -1.256095 -0.096770 -0.506625 -1.727097  0.447481
D -0.661908  1.245422  0.412306 -2.078909 -0.556074
E  0.515226 -0.643207  0.750893 -0.059017 -0.484218
F  0.019915  0.631310 -1.681161 -2.280468  1.988204

In [32]:
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)

In [33]:
dframe2

       col1      col2      col3      col4      col5
A  0.223140  0.031726 -0.711323 -0.659785 -1.789697
B -1.256095 -0.096770 -0.506625 -1.727097  0.447481
C       NaN       NaN       NaN       NaN       NaN
D -0.661908  1.245422  0.412306 -2.078909 -0.556074
E  0.515226 -0.643207  0.750893 -0.059017 -0.484218
F  0.019915  0.631310 -1.681161 -2.280468  1.988204

In [34]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.223140  0.031726 -0.711323 -0.659785 -1.789697   NaN
B -1.256095 -0.096770 -0.506625 -1.727097  0.447481   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.661908  1.245422  0.412306 -2.078909 -0.556074   NaN
E  0.515226 -0.643207  0.750893 -0.059017 -0.484218   NaN
F  0.019915  0.631310 -1.681161 -2.280468  1.988204   NaN

In [35]:
dframe

       col1      col2      col3      col4      col5
A  0.223140  0.031726 -0.711323 -0.659785 -1.789697
B -1.256095 -0.096770 -0.506625 -1.727097  0.447481
D -0.661908  1.245422  0.412306 -2.078909 -0.556074
E  0.515226 -0.643207  0.750893 -0.059017 -0.484218
F  0.019915  0.631310 -1.681161 -2.280468  1.988204

In [37]:
dframe.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A  0.223140  0.031726 -0.711323 -0.659785 -1.789697   NaN
B -1.256095 -0.096770 -0.506625 -1.727097  0.447481   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.661908  1.245422  0.412306 -2.078909 -0.556074   NaN
E  0.515226 -0.643207  0.750893 -0.059017 -0.484218   NaN
F  0.019915  0.631310 -1.681161 -2.280468  1.988204   NaN