In [2]:
import pandas as pd

In [3]:
!cat lec25.csv

q,r,s,t,apple
2,3,4,5,pear
a,s,d,f,rabbit
5,2,5,7,dog

In [16]:
dframe = pd.read_csv('lec25.csv')

In [17]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [6]:
dframe = pd.read_csv('lec25.csv', header=None)

In [7]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [13]:
dframe = pd.read_table('lec25.csv', sep=',', header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [14]:
pd.read_csv('lec25.csv', header=None, nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [18]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [21]:
dframe.to_csv('mytextdata_out.csv')

In [25]:
!cat mytextdata_out.csv

,q,r,s,t,apple
0,2,3,4,5,pear
1,a,s,d,f,rabbit
2,5,2,5,7,dog

In [26]:
import sys

In [27]:
dframe.to_csv(sys.stdout, sep='\t')

	q	r	s	t	apple
0	2	3	4	5	pear
1	a	s	d	f	rabbit
2	5	2	5	7	dog